.openBankingContainer{
    padding: 0;
    margin-top: 20px;
    // position: relative;
    .openBanking-div{
        background-color: #ffff;
        padding: 25px;
        border: 1px solid #b8b8b8;
        border-radius: 5px;
        box-shadow: 0px 5px 20px 0px #000;
        margin-bottom: 30px;
        .heading{
            border-bottom: 1px solid #b8b8b8 ;
            .priceDiv{
                text-align: left;
                float: left;
            }
            .subjectDiv{
                text-align: right;
                margin: 0px !important;
            }
        }
        .imageDiv{
            img{
                width: 300px;
                margin: auto;
                height: 100px;
            }
        }
        .textDiv{
            text-align: center;
            margin-top: 10px;
            border-bottom: 1px solid #b8b8b8 ;
            margin-bottom: 10px;
        }
        .subjectDiv{
            text-align: right;
            margin-top: 10px;
        }
        .item{
            text-align: right;
            .itemButton{
                button{
                    z-index: 1;
                    text-align: right !important;
                    width: fit-content;
                    margin: auto;
                    outline: none !important;
                    outline-offset: unset;
                }
            }
            .itemBody{
                text-align: right !important;
            }
        }
        input{
            text-align: center;
        }
        input::placeholder{
            text-align: center;
        }
        .button{
            margin-top: 15px;
            width: 150px;
        }
        .buttonDiv{
            text-align: right;
            // float: right;
        }
    }
    .loading{
        width: 200px;
        height: 200px;
        border-radius: 10px;
        backdrop-filter: blur(5px) saturate(400%) brightness(70%);
        position: fixed;
        top: 30%;
        text-align: center;
        display:inline-block;
        align-content: center;
        justify-content: center;
        z-index: 1;
        padding: 30px;
        .spinner{
            width: 80px;
            height: 80px;
        }
        p{
            font-size: larger;
            margin-top: 30px;
        }
    }
}