.mainContainer{
    background-color: #EAEAEB;
    word-spacing: -1px;
    padding: 0px !important;
    height: 100vh;
    background: rgb(45,100,134);
    background: linear-gradient(143deg, rgba(45,100,134,1) 21%, rgba(42,120,168,1) 54%, rgba(61,96,117,1) 89%);
    input{
        text-align: right;
    }
    ::placeholder {
        text-align: right;
    }
    @font-face {
        font-family: “yekan”;
        src:url(./font/Yekan/Yekan.eot);
        src:url(./font/Yekan/Yekan.ttf)format("ttf"),url(./font/Yekan/Yekan.woff)format("woff");
        font-weight: normal;
        font-style: normal
    }
}