.header{
    background-color: #2A78A8;
    height: 60px;
    text-align: right;
    box-shadow: 0px 5px 30px 0px #00000080;
    position: fixed;
    top:0px;
    border-bottom: 1px solid #ddd;
    .sidebar-button{
        float: right;
        margin-left: 10px;
        cursor: pointer;
    }
    .userDiv{
        color: #ffffff;
        font-size: 15px;
        width: fit-content;
        float: right !important;
        margin-left: 25px;
        margin-top: 13px;
        cursor: pointer;
    }
    .creditDiv{
        margin-top: 10px;
        color: #ffff;
        font-size: 18px;
        width: fit-content;
        float: right !important;
    }
}