.main-container{
    width: 100%;
    padding-top: 70px;
    overflow-x: hidden;
    // #main-content{
    //     float: left;
    //     height: 120px;
    //     width: 100%;
    // }
    @media only screen and (min-width: 770px) {
        .main-content{
            margin-right: 60px;
        }
    }
    @media only screen and (max-width: 770px) {
        .main-content{
            margin-right: 0px;
        }
    }
}